<%-include("header")-%>
<body class="container-fluid" style="background-color: paleturquoise;"><p style="font-style: italic;font-size: 32px;text-align:center;color: gold;">this is an another page</p></body>